nodeJS_noDB.txt
[{"id":"bb958d0c.6baff","type":"debug","z":"ada681ea.3ee83","name":"","active":true,"console":"true","complete":"true","x":890,"y":240,"wires":[]},{"id":"ccc66064.c2c77","type":"tcp in","z":"ada681ea.3ee83","name":"","server":"server","host":"","port":"8080","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":60,"y":240,"wires":[["5afd31c5.2534c"]]},{"id":"5afd31c5.2534c","type":"json","z":"ada681ea.3ee83","name":"","pretty":true,"x":230,"y":240,"wires":[["bb958d0c.6baff","81407c82.b2e68"]]},{"id":"a5eb60d1.a8ab7","type":"tcp out","z":"ada681ea.3ee83","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply","x":1090,"y":580,"wires":[]},{"id":"8d65165f.770918","type":"function","z":"ada681ea.3ee83","name":"end line","func":" msg.payload = msg.payload + '\\n';\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":500,"wires":[["a5eb60d1.a8ab7"]]},{"id":"81407c82.b2e68","type":"switch","z":"ada681ea.3ee83","name":"type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"Connexion","vt":"str"},{"t":"eq","v":"Data","vt":"str"},{"t":"eq","v":"Modify","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":90,"y":500,"wires":[["bcf3b093.a6005"],["54ad081.1e977f8"],["16ad994f.cb74c7"],["3d33a7a9.e38b88"]]},{"id":"bcf3b093.a6005","type":"switch","z":"ada681ea.3ee83","name":"try name","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"bob","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":260,"y":440,"wires":[["109d9393.9d13cc"],["24a7a73d.d96358"]]},{"id":"109d9393.9d13cc","type":"switch","z":"ada681ea.3ee83","name":"try pwd","property":"payload.pwd","propertyType":"msg","rules":[{"t":"eq","v":"123","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":420,"y":380,"wires":[["331d85ac.cbeffa"],["e4fc5db7.7d004"]]},{"id":"54ad081.1e977f8","type":"change","z":"ada681ea.3ee83","name":"data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Cardio\":[80,60,70,82,110,95,80,69,70,72,67,80,82,85,75,74,69,99,80,75,70,72,69,70],\"Temp\":[36.2,36.5,36.8,36.9,36.1,37.9,36.1,36.4,37,36.9,36.8,36.9,37.1,37.2,36.8,36.6,36.8,36.7,36.6,37.4,37.3,37.1],\"Accel\":[0,0,3,1,0,0,0,11,11,12,9,22,23,12,10,11,16,19,16,6,5,0,0,0]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":580,"wires":[["cb6310d.07bf5f","8d65165f.770918"]]},{"id":"24a7a73d.d96358","type":"change","z":"ada681ea.3ee83","name":"error name","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Connexion\":\"Invalid user\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":500,"wires":[["8d65165f.770918","cb6310d.07bf5f"]]},{"id":"331d85ac.cbeffa","type":"change","z":"ada681ea.3ee83","name":"Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Connexion\":\"Connected\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["8d65165f.770918","cb6310d.07bf5f"]]},{"id":"e4fc5db7.7d004","type":"change","z":"ada681ea.3ee83","name":"error pwd","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Connexion\":\"Invalid password\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":420,"wires":[["8d65165f.770918","cb6310d.07bf5f"]]},{"id":"cb6310d.07bf5f","type":"debug","z":"ada681ea.3ee83","name":"answer","active":true,"console":"false","complete":"true","x":860,"y":580,"wires":[]},{"id":"ef937591.e31d08","type":"udp in","z":"ada681ea.3ee83","name":"Broadcast UDP","iface":"","port":"8888","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":80,"y":740,"wires":[["268d3880.e74a58"]]},{"id":"7d1c4188.84cda","type":"udp out","z":"ada681ea.3ee83","name":"send ip","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":980,"y":740,"wires":[]},{"id":"97df185a.7bf928","type":"switch","z":"ada681ea.3ee83","name":"check the message","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"DISCOVER_FUIFSERVER_REQUEST","vt":"str"}],"checkall":"true","outputs":1,"x":450,"y":740,"wires":[["3e5e1e6b.eece12"]]},{"id":"268d3880.e74a58","type":"function","z":"ada681ea.3ee83","name":"Buffer to String","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":740,"wires":[["97df185a.7bf928","eea577b7.f70858"]]},{"id":"eea577b7.f70858","type":"debug","z":"ada681ea.3ee83","name":"","active":true,"console":"false","complete":"true","x":570,"y":800,"wires":[]},{"id":"3e5e1e6b.eece12","type":"change","z":"ada681ea.3ee83","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"DISCOVER_FUIFSERVER_RESPONSE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":740,"wires":[["8f3ae43.4506918"]]},{"id":"8f3ae43.4506918","type":"function","z":"ada681ea.3ee83","name":"String to buffer","func":"msg.payload=Buffer.from( msg.payload, 'utf8' )\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":740,"wires":[["7d1c4188.84cda"]]},{"id":"6071519.1d7c5b","type":"inject","z":"ada681ea.3ee83","name":"","topic":"","payload":"ALERT","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":880,"wires":[["50b0baaa.fd41f4"]]},{"id":"2bc62d07.c00e32","type":"udp out","z":"ada681ea.3ee83","name":"","addr":"10.3.255.255","iface":"","port":"8000","ipv":"udp4","outport":"8000","base64":false,"multicast":"false","x":610,"y":880,"wires":[]},{"id":"50b0baaa.fd41f4","type":"function","z":"ada681ea.3ee83","name":"end line","func":"msg.payload = msg.payload+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":880,"wires":[["2bc62d07.c00e32","20e0cd3c.5bd992"]]},{"id":"16ad994f.cb74c7","type":"switch","z":"ada681ea.3ee83","name":"which data to change","property":"payload.dataset","propertyType":"msg","rules":[{"t":"eq","v":"Username","vt":"str"},{"t":"eq","v":"Password","vt":"str"}],"checkall":"true","outputs":2,"x":320,"y":660,"wires":[["218930fe.c2bc4"],["218930fe.c2bc4"]]},{"id":"6f1b5165.35","type":"change","z":"ada681ea.3ee83","name":"Change","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Change\":\"Changed\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":600,"wires":[["cb6310d.07bf5f"]]},{"id":"218930fe.c2bc4","type":"function","z":"ada681ea.3ee83","name":"validate message","func":" msg.payload =\"{\\\"Change\\\":\\\"Changed to '\" +msg.payload.value +\"'\\\"} \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":660,"wires":[["a5eb60d1.a8ab7"]]},{"id":"3d33a7a9.e38b88","type":"function","z":"ada681ea.3ee83","name":"","func":"msg.payload = \"ALERT\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":800,"wires":[["2bc62d07.c00e32"]]},{"id":"3ff05c13.a3f364","type":"inject","z":"ada681ea.3ee83","name":"","topic":"","payload":"EMERGENCY","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":840,"wires":[["50b0baaa.fd41f4"]]},{"id":"20e0cd3c.5bd992","type":"debug","z":"ada681ea.3ee83","name":"","active":true,"console":"false","complete":"false","x":810,"y":820,"wires":[]},{"id":"6cb10b11.e7c7f4","type":"change","z":"ada681ea.3ee83","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"_id\":\"5a6b50de976ff6a5f0a06dac\",\"type\":\"heartrate\",\"date\":\"2018-01-26T16:01:34.135Z\",\"value\":\"99\"},{\"_id\":\"5a6b50db976ff6a5f0a06da9\",\"type\":\"heartrate\",\"date\":\"2018-01-26T16:01:31.493Z\",\"value\":\"98\"},{\"_id\":\"5a6b50d9976ff6a5f0a06da6\",\"type\":\"heartrate\",\"date\":\"2018-01-26T16:01:29.356Z\",\"value\":\"97\"},{\"_id\":\"5a6b5077976ff6a5f0a06da3\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:59:51.250Z\",\"value\":\"96\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"90\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":540,"wires":[["cb6310d.07bf5f","9e4e5f34.74e45"]]},{"id":"9e4e5f34.74e45","type":"json","z":"ada681ea.3ee83","name":"","pretty":false,"x":530,"y":540,"wires":[["8d65165f.770918"]]}]