nodeJS_noDB.txt
[{"id":"b4c9fe3a.c75e2","type":"debug","z":"1e959b0a.ebf7b5","name":"","active":true,"console":"true","complete":"true","x":430,"y":60,"wires":[]},{"id":"b92d5d35.8b7da","type":"tcp in","z":"1e959b0a.ebf7b5","name":"","server":"server","host":"","port":"8088","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":60,"wires":[["fa767df1.16d4d"]]},{"id":"fa767df1.16d4d","type":"json","z":"1e959b0a.ebf7b5","name":"","pretty":true,"x":250,"y":60,"wires":[["b4c9fe3a.c75e2","5ae5d5ab.45fa2c"]]},{"id":"a7fc310e.dec06","type":"tcp out","z":"1e959b0a.ebf7b5","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply","x":1110,"y":400,"wires":[]},{"id":"5d726ad8.fb90e4","type":"function","z":"1e959b0a.ebf7b5","name":"end line","func":" msg.payload = msg.payload + '\\n';\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":320,"wires":[["a7fc310e.dec06"]]},{"id":"5ae5d5ab.45fa2c","type":"switch","z":"1e959b0a.ebf7b5","name":"type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"Connexion","vt":"str"},{"t":"eq","v":"Data","vt":"str"},{"t":"eq","v":"Modify","vt":"str"},{"t":"eq","v":"ALERT","vt":"str"},{"t":"eq","v":"EMERGENCY","vt":"str"}],"checkall":"true","outputs":5,"x":110,"y":320,"wires":[["7614df0b.ffd7b"],["4bb7058.245f4fc"],["c22bccac.091c9"],["e7005fbc.737cd"],["e7005fbc.737cd"]]},{"id":"7614df0b.ffd7b","type":"switch","z":"1e959b0a.ebf7b5","name":"try name","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"bob","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":280,"y":260,"wires":[["e85edc58.55d4f"],["85cb39a6.dea508"]]},{"id":"e85edc58.55d4f","type":"switch","z":"1e959b0a.ebf7b5","name":"try pwd","property":"payload.pwd","propertyType":"msg","rules":[{"t":"eq","v":"123","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":440,"y":200,"wires":[["9646874a.6fba98"],["437d2c76.2207a4"]]},{"id":"97156d46.7fff1","type":"change","z":"1e959b0a.ebf7b5","name":"old data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Cardio\":[80,60,70,82,110,95,80,69,70,72,67,80,82,85,75,74,69,99,80,75,70,72,69,70],\"Temp\":[36.2,36.5,36.8,36.9,36.1,37.9,36.1,36.4,37,36.9,36.8,36.9,37.1,37.2,36.8,36.6,36.8,36.7,36.6,37.4,37.3,37.1],\"Accel\":[0,0,3,1,0,0,0,11,11,12,9,22,23,12,10,11,16,19,16,6,5,0,0,0]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["f38af51b.5a5a68","5d726ad8.fb90e4"]]},{"id":"85cb39a6.dea508","type":"change","z":"1e959b0a.ebf7b5","name":"error name","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Connexion\":\"Invalid user\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["5d726ad8.fb90e4","f38af51b.5a5a68"]]},{"id":"9646874a.6fba98","type":"change","z":"1e959b0a.ebf7b5","name":"Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Connexion\":\"Connected\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[["5d726ad8.fb90e4","f38af51b.5a5a68"]]},{"id":"437d2c76.2207a4","type":"change","z":"1e959b0a.ebf7b5","name":"error pwd","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Connexion\":\"Invalid password\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":240,"wires":[["5d726ad8.fb90e4","f38af51b.5a5a68"]]},{"id":"f38af51b.5a5a68","type":"debug","z":"1e959b0a.ebf7b5","name":"answer","active":true,"console":"false","complete":"true","x":880,"y":380,"wires":[]},{"id":"6ca24a80.b9e804","type":"udp in","z":"1e959b0a.ebf7b5","name":"Broadcast UDP","iface":"","port":"8888","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":100,"y":560,"wires":[["eae1d0e9.fc4ab"]]},{"id":"442be492.6be75c","type":"udp out","z":"1e959b0a.ebf7b5","name":"send ip","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1020,"y":560,"wires":[]},{"id":"acc92425.8c3608","type":"switch","z":"1e959b0a.ebf7b5","name":"check the message","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"DISCOVER_FUIFSERVER_REQUEST","vt":"str"}],"checkall":"true","outputs":1,"x":490,"y":560,"wires":[["e14256f8.830378"]]},{"id":"eae1d0e9.fc4ab","type":"function","z":"1e959b0a.ebf7b5","name":"Buffer to String","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":560,"wires":[["acc92425.8c3608","547f880e.471878"]]},{"id":"547f880e.471878","type":"debug","z":"1e959b0a.ebf7b5","name":"","active":true,"console":"false","complete":"true","x":450,"y":600,"wires":[]},{"id":"e14256f8.830378","type":"change","z":"1e959b0a.ebf7b5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"DISCOVER_FUIFSERVER_RESPONSE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":560,"wires":[["31f23734.a6d868"]]},{"id":"31f23734.a6d868","type":"function","z":"1e959b0a.ebf7b5","name":"String to buffer","func":"msg.payload=Buffer.from( msg.payload, 'utf8' )\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":560,"wires":[["442be492.6be75c"]]},{"id":"b5be4e52.38a73","type":"function","z":"1e959b0a.ebf7b5","name":"end line","func":"msg.payload = msg.payload+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":700,"wires":[["2e253dff.055482","e34cdc9c.e7f7"]]},{"id":"c22bccac.091c9","type":"switch","z":"1e959b0a.ebf7b5","name":"which data to change","property":"payload.dataset","propertyType":"msg","rules":[{"t":"eq","v":"Username","vt":"str"},{"t":"eq","v":"Password","vt":"str"}],"checkall":"true","outputs":2,"x":340,"y":480,"wires":[["7fb7bd02.aee844"],["7fb7bd02.aee844"]]},{"id":"7fb7bd02.aee844","type":"function","z":"1e959b0a.ebf7b5","name":"validate message","func":" msg.payload =\"{\\\"Change\\\":\\\"Changed to '\" +msg.payload.value +\"'\\\"} \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":480,"wires":[["a7fc310e.dec06"]]},{"id":"2e253dff.055482","type":"debug","z":"1e959b0a.ebf7b5","name":"","active":true,"console":"false","complete":"false","x":590,"y":640,"wires":[]},{"id":"4bb7058.245f4fc","type":"change","z":"1e959b0a.ebf7b5","name":"data","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"_id\":\"5a6b50de976ff6a5f0a06dac\",\"type\":\"heartrate\",\"date\":\"2018-01-26T16:01:34.135Z\",\"value\":\"99\"},{\"_id\":\"5a6b50db976ff6a5f0a06da9\",\"type\":\"heartrate\",\"date\":\"2018-01-26T16:01:31.493Z\",\"value\":\"98\"},{\"_id\":\"5a6b50d9976ff6a5f0a06da6\",\"type\":\"heartrate\",\"date\":\"2018-01-26T16:01:29.356Z\",\"value\":\"97\"},{\"_id\":\"5a6b5077976ff6a5f0a06da3\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:59:51.250Z\",\"value\":\"96\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"90\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"92\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"70\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"76\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"69\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"67\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"82\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"92\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"83\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"89\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"heartrate\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"91\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"temperature\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"39\"},{\"_id\":\"5a6b4d85976ff6a5f0a06d9a\",\"type\":\"acceleration\",\"date\":\"2018-01-26T15:47:17.509Z\",\"value\":\"20\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":380,"wires":[["3bcd991d.282dd6"]]},{"id":"3bcd991d.282dd6","type":"json","z":"1e959b0a.ebf7b5","name":"","pretty":false,"x":510,"y":380,"wires":[["5d726ad8.fb90e4","f38af51b.5a5a68"]]},{"id":"e7005fbc.737cd","type":"change","z":"1e959b0a.ebf7b5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":620,"wires":[["b5be4e52.38a73"]]},{"id":"e34cdc9c.e7f7","type":"tcp out","z":"1e959b0a.ebf7b5","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply","x":875,"y":721.3333129882812,"wires":[]}]